input {
    background-color: white;
    border: 2px solid rgb(190, 190, 190);
    height: 1.5vw;
    border-radius: 8px;
    padding-left: 8px;
}

.form-full-bar {
   margin-bottom: 0.4rem;
   display: flex;
   flex-direction: column;
}

.form-container {
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    margin-top: 6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.side-by-side {
    display: flex;
    justify-content: left;
    margin-bottom: 8px;
    gap: 8px;
}

label {
    color: black;
}

.side-by-side-left {
    display: inline;
    float: left;
    width: 50%;
}

.side-by-side-right {
    display: inline;
    float: right;
    width: 50%;
}

.validation-fail {
    background-color: rgb(253, 137, 137);
    border: 2px solid rgb(200, 98, 98);
    border-radius: 5px;
    margin-bottom: 8px;
}

#submit-button {
    background-color: rgb(0, 106, 255);
    border: 2px solid rgb(0, 78, 188);
    margin-bottom: 8px;
    color: white;
    height: 1.7vw;
}
