<!DOCTYPE html>
<html lang="en">
<head>
    {% block headers %} {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - edht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css')}}">
</head>
<body class="{% block page %}{% endblock %}">
    <nav class="nav">
        <img onclick="window.location.href='/'" src="{{ url_for('static', filename='edht_logo.png') }}" alt="logo" class="logo">
        <ul class="nav_list">
            {% if not current_user.is_authenticated %}
                <li class="nav_bar_item"><a href="/signin">Sign-in</a></li>
                <li class="nav_bar_item"><a href="/signup">Sign-up</a></li>
            {% else %}
                <li class="nav_bar_item"><a href="/signout">Sign-out</a></li>
                <li class="nav_bar_item"><a href="#">Chat</a></li>
                <li class="nav_bar_item"><a href="#">Games</a></li>
                <li class="nav_bar_item"><a href="#">Proxy</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
