<!DOCTYPE html>
<html lang="en">
<head>
    {% block headers %} {% endblock %}
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - edht</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
</head>
<body class="{% block page %}{% endblock %}">
    <nav class="nav">
        <img onclick="window.location.href='/'" src="{{ url_for('static', filename='img/edht_logo.png') }}" alt="logo" class="logo">
        <ul class="nav_list">
            {% if not current_user.is_authenticated %}
                <li class="nav_bar_item"><a class='nav-link' href="/signin">Sign-in</a></li>
            {% else %}
                <li class="nav_bar_item"><a class='nav-link' href="/signout">Sign-out</a></li>
                <li class="nav_bar_item"><a class='nav-link' href="#">Chat</a></li>
                <li class="nav_bar_item"><a class='nav-link' href="#">Games</a></li>
                <li class="nav_bar_item"><a class='nav-link' href="#">Proxy</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
